html {
    background-color: dimgray;
}

* {
    box-sizing: border-box;
}

p{   
    text-align: justify;
    text-indent: 15px;
    padding: 5px;
}

   

header h1 a{
    text-decoration: none;
    text-shadow: 3px 3px 5px black;
    color:white;
}

article h1 a, aside h1, section h1{
    text-decoration: underline;
    font-size: 25px;
    color:darkslateblue;
    text-shadow: 1px 1px 1px dimgrey;
}

body {
    font-family: sans-serif;
    padding: 0px 10px 10px 10px ;
    width: 80%;
    min-width: 875px;
    margin: auto; 
    position: relative;
    background-color: whitesmoke;
    border-width: thick;
    border-right-style: ridge ;
    border-left-style: groove;
}

header {
    text-decoration:none;
    box-shadow: 3px 3px 2px grey;
    background-color: lightseagreen;
    height: 80px;
    margin: 0px;
    padding: 10px 10px 10px 20px;
}

h1 {
    color:darkslateblue;
    text-shadow: 1px 1px 1px dimgrey;
}

a{
    text-decoration:none;
    padding: 2px;
    color:darkmagenta;
}

a:hover{
    text-decoration: none;
    color:white;
    padding:2px;
    border-radius: 5px;
    background-color:#009595;
}    


/* 
 ****** styling for navigation menu 
*/

nav {
    box-shadow: 3px 3px 2px grey;
    background-color: cadetblue;
    height: 40px;
    margin-bottom: 12px;
}

nav ul li{   
    font-family: cursive;
    color: lightcyan;
    list-style-type:none;
    border-right: 2px solid aliceblue;
    float: left;
    margin: 10px 0px 10px 0px;    
}

nav ul li a{
    padding: 8px 15px 7px 15px;
    text-decoration: none;
    color:white;
} 

nav ul li a:hover{
    padding: 8px 15px 7px 15px;
    background-color: aliceblue;
    color:black;
}

article,section {
    box-shadow: 2px 2px 1px grey; 
    padding: 10px;
    background-color: aliceblue;
    margin-bottom: 15px;
    position: relative;
    float: left;
    width: 67%;
    border: 1px solid lightgrey;    
}

/* 
****#### styling for introduction section in the homepage
*/

section#introduction{
    box-shadow: 2px 2px 1px grey;
    padding: 5px;
    background-color: powderblue;
    margin-bottom: 10px;
    float: left;
    width: 67%; 
    border:1px solid lightgrey;
}

/* styling for the sidebar */

div#side{
    position:relative;
    float: right;
    width:30%;    
    margin:auto;
    padding:0;
}

/* 
********	styling for buttons in login box and volunteer and unvolunteer buttons in event description.
*/

section#login a,a#volunteer{
    border-radius:3px; 
    padding: 1px;
    background-color:#009F9F;
    color:white;
}


section#login a:hover,a#volunteer:hover{
    border-radius:3px; 
    box-shadow: 1px 1px 1px grey;
    background-color:#006565;
    color:white;
    padding: 2px;
}

a#volunteer{
    font-size: 1.3em;
}

/*styling for aside component boxes*/

section#upcoming_events, section#login, section#facts{
    box-shadow: 2px 2px 1px grey;
    position: relative;
    background-color: aliceblue;
    border: 1px solid teal;
    float: right;
    width: 100%;  
    margin-bottom: 15px;
    padding: 10px;
}

/* styling for tables user info and forms*/

table{
    width:100%;
    border:1px solid grey
}

table#stats a { 
    text-decoration:none;
    font-family: sans-serif;
    color: black
}

table#stats a:hover {
    color: white
}

table#stats tr:nth-child(even) {
    background-color: lightgreen;
}
table#stats tr:nth-child(odd) {
   background-color:lightblue;
   
}
table#stats th	{
    font-size: 1.05em;
    background-color: ivory;
    color: black;
    border:2px solid grey;
}
table#stats td{padding: 5px; text-align: center}
 
/* styling for footer */

footer {
    box-shadow: 3px 3px 2px grey;
    background-color: aquamarine;
    height: 30px;
    clear: both;
    margin-top: 50px;
}

footer p {
   padding: 5px;
}

img {
    width: 100%; 
    align-items: center;
}

/* for input fields in login form */

input.field{
    width:100%;
}

/* for ordered list in the why volunteer page*/

ol li p{
    text-indent: 0px;
}